@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

// Colors

$black: #000;
$black-bis: #2f3941;
$black-ter: #49545c;

$grey-darker: #49545c;
$grey-dark: #68737d;
$grey: #87929d;
$grey-light: #c2c8cc;
$grey-lighter: #d8dcde;
$grey-lightest: #e9ebed;

$white-ter: #e9ebed;
$white-bis: #f8f9f9;
$white: #fff;

$orange: #de701d;
$yellow: #f79a3e;
$green: #228f67;
$turquoise: #3091ec;
$cyan: #02a191;
$blue: #337fbd;
$purple: #b552e2;
$red: #d93f4c;

// Derived Colors

$primary: $blue;

// Text colors

$text: $black-bis;
$text-light: $text;
$text-strong: $text;

// Link colors

$link: #1f73b7;
$link-visited: #1f73b7;

$link-hover: #5293c7;
$link-hover-border: #5293c7;

$link-focus: #5293c7;
$link-focus-border: #5293c7;

$link-active: #5293c7;
$link-active-border: #5293c7;

// Typography

$family-sans-serif: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
$family-monospace: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;

$size-1: 36px;
$size-2: 26px;
$size-3: 22px;
$size-4: 18px;
$size-5: 14px;
$size-6: 12px;
$size-7: 10px;

// Layout

$body-size: 14px;

@import "~bulma/sass/utilities/derived-variables";
@import "~bulma/sass/utilities/animations";
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/utilities/controls";
